# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.pub-cache/
build/
**/doc/api/

# Generated plugin registrant
lib/generated_plugin_registrant.dart

# Environment & Config
*.env
.env*
key.properties

# IntelliJ / Android Studio
*.iml
.idea/
*.ipr
*.iws

# VSCode
.vscode/
.history/

# Mac & Linux
.DS_Store
.macOS/
Thumbs.db

# Android
android/.gradle/
android/local.properties
android/app/*.keystore
android/app/*.jks
android/app/debug.keystore
android/captures/

# Gradle
.gradle/
**/build/
gradle-wrapper.jar

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/ServiceDefinitions.json
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.moved-aside

# Xcode
DerivedData/
*.hmap
*.ipa
*.xcarchive

# Web
web/.dart_tool/
web/.firebase/
web/.flutter/

# Windows
windows/.vs/
windows/GeneratedFiles/
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Firebase
firebase_app_id_file.json
.google/

# Other
